@import '../../../styles.sass'

*
    font-family: 'Montserrat', sans-serif

.education-card
    width: 80%
    display: flex
    align-items: center
    justify-content: center
    overflow: hidden
    margin: 100px auto
    max-height: 500px
    background: $primary-colour

.education-image img
    //width: 12vw
    width: clamp(40px, 12vw, 140px)
    border-radius: 10px
    margin-right: 15px

.education-card-content h1
    color: $hightlight-primary-colour
    margin: 0 0 5px 0
    //font-size: 5vw
    font-size: clamp(19px, 5vw, 40px)

.education-card-content h2
    color: $secondary-colour
    //font-size: 2.5vw
    font-size: clamp(15px, 2.5vw, 30px)
    margin: 0 0 5px 0

.education-card-content h3
    color: $secondary-colour
    //font-size: 1.85vw
    font-size: clamp(11px, 1.85vw, 20px)
    margin: 0

.education-card-content h1, .education-card-content h2, .education-card-content h3
    padding-left: 10px

.grades-container
    width: 50%
    margin: auto

.level
    color: $primary-colour
    background: $hightlight-primary-colour
    border-radius: 3px

.level-toggle
    list-style: none
    display: flex
    padding-left: 0
    padding-right: 10px
    justify-content: space-between
    cursor: pointer

.level-toggle li.collapsed::after
    content: "+"

.level-toggle li.expanded::after
    content: "-"

.courses-level-wrapper
    color: $hightlight-primary-colour
    width: 100%

table
    width: 100%
    border: 2px solid $hightlight-primary-colour
    border-radius: 5px

table tr:nth-child(even)
    background: $secondary-colour

table tr:nth-child(even) td
    color: $primary-colour

td
    color: $secondary-colour
    padding: 5px
    font-weight: bold

.col-1
    width: 100%
    text-align: left

.col-2
    width: 100%
    text-align: center

.data
    font-size: 1.5em

.header
    font-size: 1.6em

.clickable
    cursor: pointer

.modal
    display: none
    position: fixed
    z-index: 100
    left: 0
    top: 0
    width: 100%
    height: 100%
    overflow: auto
    background-color: rgba(0, 0, 0, .75)

.modal-content
    background-color: $primary-colour
    margin: 15% auto
    padding: 20px
    border: 1px solid $hightlight-primary-colour
    border-radius: 5px
    width: 50%

.modal-content h2
    color: $hightlight-primary-colour
    font-size: clamp(16px, 2.8vw, 30px)

.modal-content p
    color: $secondary-colour
    font-size: clamp(12px, 1.5vw, 18px)

.close
    color: $hightlight-primary-colour
    float: right
    font-size: 28px
    font-weight: bold

.close:hover,
.close:focus
    color: white
    text-decoration: none
    cursor: pointer

.course-stats-list
    list-style: none
    display: flex
    padding-left: 0
    padding-right: 10px
    justify-content: space-around
    color: $hightlight-primary-colour
    font-weight: bold
    font-size: clamp(12px, 1.5vw, 17px)

@media (min-width: 1500px)
    .grades-container
        width: 35%

@media ( max-width:  1300px)
    .course-stats-list-container
        text-align: center

    .course-stats-list
        display: inline-block
        text-align: left

@media (max-width: 800px)
    .grades-container
        width: 80%
