<div class="education-card">
    <div class="education-image">
        <img src="../../../assets/images/conestoga_logo.png"/>
    </div>
    <div class="education-card-content">
        <h1>Conestoga College</h1>
        <h2>Software Engineering Technology</h2>
        <i><h3>Advanced Diploma | Graduate with Distinction | 2020 - 2023</h3></i>
    </div>  
</div>
<div class="grades-container" *ngFor="let data of jsonData">    
    <div class="level" (click)="toggleLevel(data)">
        <h1>
            <ul class="level-toggle">
                <li>{{data.level}}</li>
                <li [ngClass]="{'collapsed': !data.isExpanded, 'expanded': data.isExpanded}"></li>
            </ul>
            
        </h1>
    </div>
    <div class="courses-level-wrapper" [hidden]="!data.isExpanded">
        <table>
            <tr>
                <th class="col-1 header">COURSE</th>
                <th class="col-2 header">GRADE</th>
            </tr>
            <tr class="clickable" *ngFor="let course of data.courses" (click)="onCourseClick(course.description, course.name, course.code, course.hours, course.credits, course.numeric_grade, course.alpha_grade, course.grade_point)">                        
                <td class="col-1 data"><i>{{course.name}}</i></td>
                <td class="col-2 data"><i>{{course.numeric_grade}}</i></td>                
            </tr>

        </table>         
    </div>   
</div>
<div class="modal" [ngStyle]="{'display': showModal ? 'block' : 'none'}">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2>{{name}} | {{code}}</h2>
      <p>{{description}}</p>
      <div class="course-stats-list-container">
        <ul class="course-stats-list">
            <li>Hours: {{hours}}</li>
            <li>Credits: {{credits}}</li>
            <li>Numeric grade: {{numeric_grade}}</li>
            <li>Alpha grade: {{alpha_grade}}</li>
            <li>Grade point: {{grade_point}}</li>
          </ul>
      </div>
      
    </div>
</div>  

