<div class="wrapper">
    <h1>MS Paint Clone</h1>
    <div class="information-container">
        <div class="text-section">
            <h2>Backstory</h2>
            <p>
                I completed this project for my graphics, animation, and sound course at Conestoga College. We were tasked with making an application similar to MS paint except we weren't allowed to use UI libraries adding a challenge to the project.
            </p>
        </div>
        <div class="image-section">
            <img class="project-gif" src="../../../assets/gifs/ms_paint_clone_demo.gif" alt="assembly line simulation/visualization" appFullScreenImage/>
        </div>
    </div>

    <div class="information-container">
        <div class="text-section">
            <h2>What I learned</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus eaque at perspiciatis minima incidunt voluptates iure, cumque perferendis provident voluptas ducimus quisquam vitae omnis nostrum deleniti molestiae, magnam eius? Deleniti!
            </p>
        </div>
        <div class="image-section">
            <img class="project-gif" src="../../../assets/images/learning.png" alt="assembly line simulation/visualization" appFullScreenImage/>
        </div>
    </div>

    <h1>Project Breakdown</h1>
    <div class="information-container">
        <div class="text-section">
            <h2>Front end</h2>
            <p>
                My group used Angular JS to create a front end that allows users to sign in and view data associated with the fake motors that they own.  Users can select date ranges using date pickers to view different chunks of data as well as view different types of data visualizations.
            </p>
        </div>
        <div class="image-section">
            <img class="project-gif" src="../../../assets/gifs/capstone_demo.gif" alt="assembly line simulation/visualization" appFullScreenImage/>
        </div>
    </div>
</div>

