<div class="wrapper">
    <h1>MS Paint Clone</h1>
    <div class="information-container">
        <div class="text-section">
            <h2>Backstory</h2>
            <p>
                I completed this project for my graphics, animation, and sound course at Conestoga College. We were tasked with making an application similar to MS paint.  It needed to be able to allow the user to draw rectangles, ellipse's, lines, and curves of different colours and opacities.  Additionally, it needed to allow the user to add a small selection of images which could be tranformed.  Finally, the user had to be able to undo actions and save the drawing area to a file.
                <br>
                <br>
                This may not sound challenging except we weren't allowed to use UI libraries which forced an understanding of how UI works behind the scenes.  
            </p>
        </div>
        <div class="image-section">
            <img class="project-gif" src="./assets/gifs/ms_paint_clone_demo.gif" alt="assembly line simulation/visualization" appFullScreenImage/>
        </div>
    </div>

    <div class="information-container">
        <div class="text-section">
            <h2>What I learned</h2>
            <p>During this project I learned about java interfaces. I used an interface to implement the functionality a button should have when clicked as there are many buttons.  Some determine the type of drawing the user is about to perform or that a user wants to input a value to update a colour or to alter an image.  The interface saved me from creating different classes of buttons. I was able to write one button class that handled determining if the button was clicked then called it's onclick method as I defined how I wanted a button's onclick method to behave when I created the button.
            <br>
            <br>
            On top of interfaces, I learned about grabbing pixels to save to a file and got lots of practice with positioning the UI elements I created using offsets which I calculated by different groupings of UI elements. 
            </p>
        </div>
        <div class="image-section">
            <img class="project-gif" src="./assets/images/learning.png" alt="assembly line simulation/visualization" appFullScreenImage/>
        </div>
    </div>

    <h1>Project Breakdown</h1>
    <div class="information-container">
        <div class="text-section">
            <h2>Drawing</h2>
            <p>
                The program draws 60 times per second so I needed to store completed drawing actions into an ArrayList so that each completed drawing would persist and so that each action would be drawn in the same order every frame.  A drawing action is only added to the ArrayList once the user's mouse click is done.  This takes several frames for drawing actions such as lines, rectangles, and ellipses.  As such, I store the current drawing action in it's own object which gets added to the ArrayList when the user completes the drawing action.  Drawing actions are only calculated when inside the drawing region, however, leaving the drawing region does not end a drawing action if the users mouse remains pressed down.

                  
            </p>
        </div>
        <div class="image-section">
            <img class="project-gif" src="./assets/gifs/ms-paint-drawing-demo.gif" alt="assembly line simulation/visualization" appFullScreenImage/>
        </div>
    </div>

    <div class="information-container">
        <div class="text-section">
            <h2>UI Controls</h2>
            <p>
                To create the UI controls, I could not use a UI library.  I could only use basic shapes like rectangles.  My buttons are essentially rectangles with labels on them that I defined click actions for.  Some of the buttons allow the user to type RGB values so they would be considered a text input/box in other languages but I just refered to them as buttons in my code.
                <br>
                <br>
                I wanted the user to get feedback when ever they clicked a button so I programmed background colour/tint changes when clicked or in the case of the rgba input buttons, I updated the respective colour the user was updating when ever a new key was pressed.

                  
            </p>
        </div>
        <div class="image-section">
            <img class="project-gif" src="./assets/gifs/ms-paint-ui-demo.gif" alt="assembly line simulation/visualization" appFullScreenImage/>
        </div>
    </div>

    <div class="information-container">
        <div class="text-section">
            <h2>Alter Images</h2>
            <p>
                The user has the option to place a collection of 4 images on the drawing area.  They can change the tint of the image and its' rotation/scale.  Processing has built in functions to perform scaling, translating and rotating of images which I took advantage of.       
            </p>
        </div>
        <div class="image-section">
            <img class="project-gif" src="../../../assets/gifs/ms-paint-image-demo.gif" alt="assembly line simulation/visualization" appFullScreenImage/>
        </div>
    </div>

    <div class="information-container">
        <div class="text-section">
            <h2>Saving Masterpieces</h2>
            <p>
                When a user has completed their masterpiece, they can elect to save their work.  I use the current date and time to name the image before saving it to a folder.  To save an image, I calculate the coordinates of the drawing area and store all those pixels in an image object before writing to disk.
            </p>
        </div>
        <div class="image-section">
            <img class="project-gif" src="./assets/gifs/ms-paint-saving-demo.gif" alt="assembly line simulation/visualization" appFullScreenImage/>
        </div>
    </div>
</div>

