<div class="projects-wrapper">
    <div class="project-container">
        <div class="project-text-section">
            <h1>Assembly Line Simulation & Visualization</h1>
            <ul class="tech-stack-list">
                <li class="tech-stack-list-item">.NET Entity Framework</li>
                <li class="tech-stack-list-item">.NET Framework</li>
                <li class="tech-stack-list-item">SQL Server</li>
                <li class="tech-stack-list-item">T-SQL</li> 
                <li class="tech-stack-list-item">XAML</li> 
                <li class="tech-stack-list-item">C#</li>                         
            </ul>
            <p>
            For my term project in my advanced SQL course at Conestoga College, I was tasked with creating a real time, remote capable suite of applications to simulate, visualize, and configure an assembly line that creates fog lights for cars.
            </p>
            <div class="link-container">
                <a class="project-link" href="">Learn more</a>
            </div>            
        </div>
        <div class="project-image-section">
            <img class="project-gif" src="../../../assets/gifs/sim_viz_project.gif" alt="assembly line simulation/visualization"/>
        </div>
    </div>

    <div class="project-container">
        <div class="project-text-section">
            <h1>Capstone project</h1>
            <ul class="tech-stack-list">
                <li class="tech-stack-list-item">AngularJS</li>
                <li class="tech-stack-list-item">JavaScript</li>
                <li class="tech-stack-list-item">Express</li>
                <li class="tech-stack-list-item">Grafana</li>
                <li class="tech-stack-list-item">MySQL</li>
                <li class="tech-stack-list-item">Azure</li>                
                <li class="tech-stack-list-item">HTML</li>
                <li class="tech-stack-list-item">CSS</li>
                <li class="tech-stack-list-item">C#</li>
                <li class="tech-stack-list-item">Python</li>
            </ul>
            <p>
            For my systems project course at Conestoga College, I worked with Enertics, an IoT asset management company, and a group of 3 other students in my program to develop a proof of concept that will enrich Enertics' client dashboards.  To accomplish this, we used Express JS, a back end web framework, to integrate Grafana, a feature rich data visualization tool, with AngularJS, the front-end web framework.  During the project, my group created weekly progress reports and planned weekly sprints using Azure's boards service.
            </p>
            <div class="link-container">
                <a class="project-link" href="">Learn more</a>
            </div>            
        </div>
        <div class="project-image-section">
            <img class="project-gif" src="../../../assets/gifs/capstone_demo.gif" alt="capstone_demo"/>
        </div>
    </div>

    <div class="project-container">
        <div class="project-text-section">
            <h1>MS Paint Clone</h1>
            <ul class="tech-stack-list">
                <li class="tech-stack-list-item">Processing</li>
                <li class="tech-stack-list-item">Java</li>
            </ul>
            <p>
            For my graphics, animation and sound course at Conestoga College, I made an MS paint like clone. I wasn't allowed to use any UI libraries for this project. I essentially made my own UI library so that the user could select various drawing methods, update various properties colours, undo and save drawings.
            </p>
            <div class="link-container">
                <a class="project-link" href="">Learn more</a>
            </div>            
        </div>
        <div class="project-image-section">
            <img class="project-gif" src="../../../assets/gifs/ms_paint_clone_demo.gif" alt="ms paint clone demo"/>
        </div>
    </div>
</div>
