@import '../../../styles.sass'

*
    list-style: none

.footer-content
    position: fixed
    left: 0
    bottom: 0
    width: 100%
    height: auto
    margin-top: 10px

.socials
    display: flex
    align-items: center
    justify-content: center
    margin: 1rem 0 3rem 0

.socials li 
    margin: 0 10px

svg
    width: 48px
    height: 48px
    fill: $hightlight-primary-colour

svg:hover path
    fill: $secondary-colour
    
    