@import '../../../styles.sass'

*
    font-family: 'Montserrat', sans-serif

.skills-intro-container
    width: 80%
    margin: 10vh auto
    text-align: center


p
    font-size: clamp(18px, 3vw, 40px)
    color: $secondary-colour

.skills-wrapper
    width: 90%
    margin: 0 auto
    text-align: center

.skills-container
    width: 100%
    display: flex
    justify-content: space-between

.skills-list
    width: 100%
    list-style: none
    display: flex
    flex-wrap: wrap
    margin: 10 auto
    justify-content: center

.skills-list-item
    width: 25%
    text-align: center
    margin: 0px 0 100px 0

.skills-list-item h1
    color: $hightlight-primary-colour
    font-size: clamp(12px, 5vw, 24px)
    overflow-wrap: break-word
    hyphens: auto
    margin-top: 20px

.skills-title
    font-size: clamp(24px, 3vw, 42px)
    font-weight: bolder
    color: $hightlight-primary-colour

.skill-image
    width: 80%
    max-height: 80%
    object-fit: cover
    border-radius: 5px
    display: block
    margin: 0 auto
    cursor: pointer
    
//li:hover .skill-image
    //animation: spin .5s
    //animation-timing-function: linear
    //animation-iteration-count: 1

@keyframes spin
    0%
        opacity: 1
    100%
        opacity: 0

.skill-experience
    position: absolute
    top: 0
    left: 0
    color: $secondary-colour
    margin: 20px
    max-height: 80%

.test-container
    position: relative
    justify-content: center


