<div class="skills-intro-container">
    <p>
        Over the course of my advanced diploma at Conestoga College and through my free time, I have learned a variety of skills!  
    </p>
    <p class="highlight-text">
        Please click on the skills below to read about my experiences with them!
    </p>
</div>

<div class="skills-wrapper">
    <div class="skills-title-container">
        <h1 class="skills-title">FRAMEWORKS</h1>
    </div>
    <div class="skills-container">
        <ul class="skills-list">
            <li class="skills-list-item" *ngFor="let framework of skills.frameworks">
            
                <img class="skill-image" [src]="framework.icon_path" alt="{{framework.name}}"/>
                <h1>{{framework.name}}</h1>            
                <!--<h3>{{framework.experience}}</h3>-->
            </li>
        </ul>
        
    </div>
</div>
