<div class="skills-intro-container">
    <p>
        Over the course of my advanced diploma at Conestoga College and through my free time, I have learned a variety of skills!  
    </p>
    <p class="highlight-text">
        Please click on the skills below to read about my experiences with them!
    </p>
</div>

<div class="skills-wrapper">
    <div class="skills-title-container">
        <h1 class="skills-title">FRAMEWORKS</h1>
    </div>
    <div class="skills-container">
        <ul class="skills-list">
            <li class="skills-list-item" *ngFor="let framework of skills.frameworks">
                <div class="test-container">
                    <img class="skill-image" [src]="framework.icon_path" alt="{{framework.name}}" (click)="imageOnClick(framework)" [style.opacity]="selectedItem === framework ? '0' : '1'"/>
                    <h3 class="skill-experience" *ngIf="selectedItem === framework" [style.opacity]="selectedItem === framework ? '1' : '0'">{{framework.experience}}</h3>
                </div>
                
                <h1>{{framework.name}}</h1>            
            </li>
        </ul>
        
    </div>
</div>
