@import '../../../styles.sass'

*
    font-family: 'Montserrat', sans-serif

.skills-intro-container
    width: 80%
    margin: 10vh auto
    text-align: center


p
    font-size: clamp(18px, 3vw, 40px)
    color: $secondary-colour

.skills-wrapper
    width: 100%
    margin: 0 auto
    text-align: center

.skills-container
    width: 100%
    display: flex
    justify-content: space-between

.skills-list
    width: 100%
    list-style: none
    display: flex
    flex-wrap: wrap
    justify-content: center
    padding: 0

.skills-list-item
    width: 20%
    text-align: center
    margin: 50px 0px 50px 0px
    padding-left: 5px
    padding-right: 5px

.skills-list-item h1
    color: $secondary-colour
    font-weight: bolder
    font-size: clamp(12px, 4vw, 24px)
    overflow-wrap: break-word
    hyphens: auto
    margin-top: 20px

.skills-title
    font-size: clamp(24px, 3vw, 42px)
    font-weight: bolder
    color: $primary-colour
    background: $hightlight-primary-colour
    height: 100%
    


.skill-image
    width: 80%
    max-height: 80%
    object-fit: cover
    border-radius: 5px
    display: block
    margin: 0 auto
    cursor: pointer

@media ( max-width:  1600px)
    .skills-list-item
        width: 30%

.modal
    display: none
    position: fixed
    z-index: 100
    left: 0
    top: 0
    width: 100%
    height: 100%
    overflow: auto
    background-color: rgba(0, 0, 0, .75)

.modal-content
    background-color: $primary-colour
    margin: 15% auto
    padding: 20px
    border-radius: 5px
    width: 50%

.modal-image
    width: 15%
    border-radius: 5px
    display: inline-block
    vertical-align: middle
    margin-right: 20px 

.close
    color: $hightlight-primary-colour
    float: right
    font-size: clamp(18px, 5vw, 32px)
    font-weight: bold

.close:hover,
.close:focus
    color: $secondary-colour
    text-decoration: none
    cursor: pointer

.modal-content h2
    color: $hightlight-primary-colour
    font-size: clamp(16px, 3.5vw, 32px)
    display: inline-block
    margin: 0
    padding: 0
    vertical-align: middle  

.modal-content p
    font-size: clamp(12px, 1.5vw, 18px)    

.modal-header-line
    display: block
    margin: 0
    padding: 0
