<input type="checkbox" id="toggle">
<nav>
    <a class="navbar-brand" routerLink="/" (click)="closeHamburgerMenu()">
    </a>

    <label class="navbar-toggler" for="toggle">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </label>

    <ul class="nav-list" (click)="closeHamburgerMenu()">
        <li class="nav-item">
            <a class="nav-link" routerLink="/">| Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="education">| Education</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="skills">| Skills</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="projects">| Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="contact">| Contact</a>
        </li>
    </ul>
</nav>
