@import url('https://fonts.googleapis.com/css2?family=Moo+Lah+Lah&family=Rubik+Pixels&family=Sedgwick+Ave+Display&display=swap')
@font-face
    font-family: Merkur
    src: url('assets/fonts/Merkur-j147.otf') format("opentype")

//$primary-colour: #404040
//$secondary-colour: #f1f1f1
//$hover-hightlight-colour: #cbcbcb

$primary-colour: #091540
$secondary-colour: #abd2fa
$hightlight-primary-colour: #9bd473
$hightlight-secondary-colour: #091540

body
    background: $primary-colour
    min-height: 100vh

.primary-text
    color:$primary-colour
